/* 선택자 {속성:값; 속성:값;} */
h1 {color:red; background-color: yellow;}
p {color:blue; background-color: #eee;}
h2 {color:pink; background-color: blueviolet;}
/* 선택자는 hteml에 작성된 모든 태그를 기준으로 한다. */
dl {background-color: antiquewhite; color:aliceblue;}
dt {background-color: cadetblue; color:aliceblue;}
ul {color:coral; background-color: darkgreen;}
li {color: red;}
ol {background-color: black;}
/* css는 부모한테 특정 속성 적용 시 속성에 따라자식 또는 자손까지 전달되기도 한다.(상속개념) */
/* 태그 순서 생각하며 똑같은 선택자 또 쓰지 않기 */
header {background-color: darkcyan;}
/* 부모가 상속된 color가 a에 적용되지 않는 이유? */
/* 실제론 적용 됐으나 a태그에 기본적으로 내장된 파랑색이 상속된 값을 덮어서 보이지 않는다. */
h3 {color:brown}
em {background-color: aqua;}
/* 태그의 인라인, 블록 유형에 따라 적용 결과가 다를 수 있다. */
/* 블록태그 h3은 배경색이 1행 전체에 적용되고 em은 인라인아서 em이 가진 글자만큼만 적용된다. */
a {background-color: darkblue;}
/* a태그는 블록, 인라인 모두 가능하나 css상으론 처음 a태그가 발표됐을 때의 초기모습(인라인)을 가지고 있다.(나중에 블록 형태로 css도 변경 가능 */
section {background-color: black;}
h4 {background-color: #eee; color: black;}
span {color: antiquewhite; background-color: deeppink;}
/* 태그가 2개 이상 반복될 때 구분하는 클래스 선택자 */
.blog {background-color: burlywood;}
.study {background-color: darkorchid;}
.study > .first {background-color: brown;}
.study > .second {background-color: aquamarine;}
/* 디자인하는 선택자에 부모가 있으면 선택자에 부모까지 포함해서 작성해야한다. */
.study > li {color: chartreuse;}
/* li {} 잘못된 경우(부모가 있는데 부모 안 적음) */
.study > li > del {color: grey;}
footer > address {background-color: gold; color: mediumaquamarine;}
footer > .copy {color: coral;}
footer > p > span {background-color: dodgerblue; color: #eee;}
footer > p > em {color: #eee; background-color: blue;}